body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-title {
  font-weight: 700;
}

h1 {
  font-style: italic;
}

table th {
  text-transform: uppercase;
}

a:link {
  color: #00f;
}

a:visited {
  color: #005;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: square;
}
